body{
    margin: 0px;
    padding: 0px;
    background-color: #f7f3eb;
    font-family: "Outfit", sans-serif;
}
.spaceleft-right{
    padding: 0px 60px;
}
.spaceleft-right-30{
    padding: 0px 30px;
}
header .btn{
    border: 0px;
}
header form{
    position: relative;
    margin-right: 20px;
}
header form button{
    position: absolute;
    right: 8px;
    top: 4px;
}
.me-auto{
    margin-right: auto !important;
    margin-left: auto !important;
}
.navbar-expand-md .navbar-nav .nav-link{
    color:#154270;
    font-family: "Laila", serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 20px;
    font-weight: 600;
    position: relative;
    text-align: center;
}
.navbar-expand-md .navbar-nav .nav-link:before{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: #e94241;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.navbar-nav li:last-child a:before{
    display: none;
}
header form .form-control{
    border-radius: 50px;
    border: 0px;
    height: 48px;
    font-family: "Laila", serif;
}
.phone-no a{
    font-family: "Laila", serif;
    text-decoration: none;
    font-weight: 600;
    color: #154270;
    display: block;
}
.phone-no a i{
    display: inline-block;
    margin-right: 3px;
}
.btn.btn-style{
    background-color: #EA4142;
    font-family: "Laila", serif;
    color: #ffffff;
    font-size: 15px;
    border-radius: 50px;
    padding: 18px 30px;
    font-weight: 600;
}
.phone-no{
    margin-right: 20px;
}
header{
    padding: 20px 0px;
}
.banner-section{
    border-radius: 30px;
    overflow: hidden;
    background-image: url("../images/banner.jpg");
    padding: 150px 0px;
    background-size: cover;
    z-index: 20;
    position: relative;
}
.btn.shortbtn{
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    font-family: "Roboto", sans-serif;
    border: 1px solid #ffffff;
    border-radius: 100px;
    text-transform: uppercase;
    padding: 5px 22px;
}
.banner-section h1{
    font-family: "Laila", serif;
    color: #ffffff;
    font-size: 100px;
    font-weight: 700;
    margin: 20px 0px 30px;
    line-height: 120px;
}
.banner-section hr{
    color: #ffffff;
    height: 1px;
    opacity: 1;
    width: 600px;
}
.banner-section p{
    font-size: 18px;
    line-height: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 20px 0px;
    color: #ffffff;
}
.btn.btn-style.btn-white{
    background-color: #ffffff;
    color: #000000;
}
.btn.btn-style.btn-white i{
    margin-left: 5px;
    position: relative;
    top: -2px;
}
.btn.btn-style.btn-white:hover{
    background-color: #EA4142;
}
.btn.btn-style:hover{
    background-color: #c72324;
}
.banner-section-bottom{
    background-image: url("../images/redbg.jpg");
    background-size: cover;
    padding: 120px 0px 60px;
    border-radius: 0px 0px 40px 40px;
    margin-top: -40px;
    z-index: 10;
    position: relative;
}
.users-rating{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.users-rating .users-rating-img{
    margin-right: 15px;
    flex-shrink: 0;
}
.users-rating p{
    font-family: "Laila", serif;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    margin: 0px;
}
.users-rating p a{
    color: #154270;
    text-decoration: none;
    margin-right: 5px;
}
.video-link-img{
    flex-shrink: 0;
}
.video-link.users-rating p{
    margin-right: 10px;
}
.service-box{
    background-color: #ffffff;
    border-radius: 30px;
    padding: 40px 30px;
}
.service-box-title {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 25px;
}
.service-box-title h4{
    margin: 0px;
    font-family: "Laila", serif;
    font-size: 26px;
    font-weight: 700;
    margin-left: 15px;
}
.service-box p{
    margin-bottom: 0px;
    font-size: 16px;
    color:#463933;
    margin-right: 40px;
}
.service-box{
    position: relative;
    height: 290px;
}
.arr-shape {
    position: absolute;
    right: -8px;
    bottom: -19px;
}
.arr-shape{
    position: absolute;
}
.service-section-wrapper{
    padding: 100px 0px;
}
.happy-clients-image{
    border-radius: 30px;
    overflow: hidden;
}
.happy-clients-no {
    background-color: #ffffff;
    padding: 0px;
    border-radius: 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 240px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.happy-clients-no h3{
    color: #154270;
    font-size: 60px;
    font-family: "Laila", serif;
    font-weight: 700;
    margin-bottom:0px ;
}
.happy-clients-no h3 span{
    color: #EA4142;
}
.happy-clients-no hr{
    width: 130px;
    margin-bottom: 15px;
}
.happy-clients-no p{
    margin: 0px;
}
.happy-clients-box{
    position: relative;
}
.we-love-text ul{
    margin: 0px;
    padding: 0px;
}
.we-love-text ul li{
    list-style: none;
    width: 50%;
    float: left;
    margin-bottom: 25px;
    position: relative;
    padding-left: 50px;
    height: 36px;
    line-height: 19px;
}
.we-love-text ul li:before{
    content: "";
    width: 35px;
    height: 36px;
    background-image: url("../images/tick.png");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    left: 0px;
}

.we-love-text h3{
    font-family: "Laila", serif;
    font-size: 60px;
    font-weight: 700;
    color: #154270;
}
.we-love-text{
    margin-left: 40px;
}
.we-love-text p{
    font-size: 16px;
    color: #616161;
    margin: 30px 0px;
    line-height: 28px;
}
.we-love-text ul li a{
    text-decoration: none;
    color: #154270;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-left: 0px;
    margin-top: 5px;
    display: inline-block;
}
.we-love-text ul li i{
    display: inline-block;
}
.we-love-text .btn.btn-style{
    background-color: transparent;
    border:2px solid #EA4142;
    color: #EA4142;
    margin-top: 20px;
}
.we-love-text .btn.btn-style:hover{
    background-color: #154270;
    border:2px solid #154270;
    color: #ffffff;
}
.we-love-text .btn.btn-style i{
    position: relative;
    top: -2px;
    margin-left: 5px;
}
.marquee-section h2{
    color: #EA4142;
    font-family: "Laila", serif;
    font-size: 90px;
    font-weight: 700;
    display: inline-block;
    margin: 0px 100px;
    line-height: 90px;
}
.marquee-section{
    padding: 60px 0px;
}
.outline{
    display: inline-block;
}
.marquee-section h2 span{
    color: #154270;
}
.btn.shortbtn.shortbtn-white{
    background-color: #ffffff;
    color: #154270;
    margin-bottom: 20px;
}
.btn.shortbtn.shortbtn-white i{
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.high-quality-services{
    background-image: url("../images/service-bg.jpg");
    background-size: cover;
    padding: 100px 0px;
    overflow: hidden;
}
.high-quality-services .owl-carousel{
    margin-left: 140px;
    position: relative;
}
.high-quality-services .owl-nav{
    position: absolute;
    top: -170px;
    right: 20%;
}
.high-quality-services .owl-nav .owl-next span,.high-quality-services .owl-nav .owl-prev span{
    font-size: 0px;
    width: 60px;
    height: 50px;
    display: inline-block;
    margin-left: 10px;
}
.high-quality-services .owl-nav .owl-next span{
    background-image: url("../images/arr-right.png");
    background-repeat: no-repeat;
}
.high-quality-services .owl-nav .owl-prev span{
    background-image: url("../images/arr-left.png");
    background-repeat: no-repeat;
}
.high-quality-content{
    padding-left: 140px;
}
.high-quality-content h2{
    font-family: "Laila", serif;
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 60px;
}
.service-image{
    border-radius: 30px;
    overflow: hidden;
}
.service-item-title i{
    position: absolute;
    right: 0px;
    top: auto;
    bottom: 0;
}
.service-tm{
    position: relative;
}
.service-item-title{
    position: relative;
    width: 100%;
    padding: 20px;
    margin-top: -108px;
}
.service-item-title i{
    position: absolute;
    right: 0px;
}
.service-item-title h6{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}
.service-item-title h3{
    color: #ffffff;
     font-family: "Laila", serif;
     font-size: 26px;
     font-weight: 500;
}
.section-title h3{
    font-family: "Laila", serif;
    font-size: 60px;
    font-weight: 700;
    color: #154270;
}
.happy-with-us-section{
    padding: 100px 0px;
}
.feature-box{
    display: flex;
}
.feature-box i{
    flex-shrink: 0;
    margin-right: 20px;
}
.feature-box-text h6{
    font-family: "Laila", serif;
    font-size: 26px;
    font-weight: 700;
    color: #463933;
}
.feature-box-text p{
    font-size: 16px;
    color: #616161;
    margin-bottom: 0px;
    line-height: 26px;
}
.margin-bottom-60{
    margin-bottom: 60px;
}
.happy-with-us-section .section-title{
    margin-bottom: 100px;
}
.team-member-data h5{
    font-family: "Laila", serif;
    font-size: 26px;
    color: #463933;
    margin: 30px 0px 10px;
}
.team-member-data p{
    color: #463933;
    font-size: 16px;
    margin-bottom: 0px;
    line-height: 24px;
}
.team-member-data{
    text-align: center;
}
.team-member-data h6{
    color: #616161;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.meet-team-section .section-title{
    margin-bottom: 60px;
}
.space-top-bottom-100{
    padding: 100px 0px;
}
.testimonial-box i{
    display: inline-block;
    margin-bottom: 0px;
    flex-shrink: 0;
    margin-right: 15px;
}
.testimonial-box p{
    color: #616161;
    font-size: 19px;
    line-height: 30px;
    font-family: "Laila", serif;
    margin-bottom: 0px;
}
.name-designation p{
    font-size: 13px;
    text-transform: uppercase;
    line-height: 13px;
    font-family: "Outfit", sans-serif;
    letter-spacing: 1px;
}
.testimonial-box{
    background-color: #ffffff;
    border-radius: 30px;
    padding: 50px 40px;
    position: relative;
}
.client-intro{
    display: flex;
    align-items: center;
}
.name-designation h6{
    font-family: "Laila", serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.our-reviews-section{
    position: relative;
}
.our-reviews-section .owl-nav{
    position: absolute;
    top: -150px;
    right: 0px;
}
.our-reviews-section .section-title{
    margin-bottom: 60px;
}
.quotes-image{
    width: 123px;
    height: 122px;
    position: absolute;
    top: -17px;
    right: -6px;
}
.our-reviews-section .owl-nav .owl-next span, .our-reviews-section .owl-nav .owl-prev span {
    font-size: 0px;
    width: 60px;
    height: 50px;
    display: inline-block;
    margin-left: 10px;
}
.our-reviews-section .owl-nav .owl-next span{
    background-image: url(../images/arr-right-blu.png);
    background-repeat: no-repeat;
}
.our-reviews-section .owl-nav .owl-prev span{
    background-image: url(../images/arr-left-blu.png);
    background-repeat: no-repeat;
}
.subscribe-title{
    display: flex;
    align-items: center;
}
.subscribe-title i{
    margin-right: 30px;
    flex-shrink: 0;
}
.subscribe-title h6{
    font-family: "Laila", serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    color: #ffffff;
}
.newsletter-wrap{
    background-image: url("../images/newsletter-bg.jpg");
    padding: 60px;
    border-radius: 30px;
    background-size: cover;
}
.subscribe-form-style input{
    border-radius: 50px;
    border: 0px;
    height: 65px;
    padding: 0px 30px;
}
.subscribe-form-style{
    margin: 0px;
    position: relative;
    padding: 0px;
}
.subscribe-form-style .btn{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 65px;
    border-radius: 50px;
    min-width: 200px;
}
.footer-blue-part{
    background-color: #154270;
    padding: 35px 0px;
}
.footer-blue-part ul{
    margin: 13px 0px;
    padding: 0px;
}
.footer-blue-part ul li{
    list-style: none;
    display: inline-block;
    position: relative;
}
.footer-blue-part ul li a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Laila", serif;
    font-size: 13px;
    margin: 0px 20px;
}
.footer-blue-part ul li:before{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: #e94241;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.footer-blue-part ul li:last-child:before{
    display: none;
}
.icon-link-group .phone-no{
    margin-left: 20px;
    margin-right: 0px;
}
.icon-link-group .phone-no a{
    color: #ffffff;
    font-size: 15px;
}
.white-footer{
    background-color: #ffffff;
    background-image: url("../images/paw-bg.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 60px;
    padding-bottom: 30px;
}
.social-links ul{
    margin: 0px;
    padding: 0px;
}
.social-links ul li{
    list-style: none;
    border: 1px solid #154270;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    text-align: center;
    padding: 5px;
    display: inline-block;
    margin-right: 6px;
}
.social-links{
    margin-top: 20px;
}
.social-links ul li a{
    text-decoration: none;
    color: #154270;
    font-size: 20px;
}
.footer-left-side{
    display: flex;
    align-items: end;
}
.footer-title{
    color: #154270;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    font-family: "Laila", serif;
    margin-bottom: 40px;
}
.footer-links h6{
    font-size: 16px;
    font-family: "Laila", serif;
    color: #EA4142;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer-links ul{
    margin: 0px;
    padding: 0px;
}
.footer-links ul li{
    list-style: none;
    margin-bottom: 5px;
}
.footer-links ul li a , .footer-links a{
    text-decoration: none;
    color: #767676;
    font-size: 15px;
}
.footer-links ul li{
    text-decoration: none;
    color: #767676;
    font-size: 15px;
}
.footer-links ul li a:hover{
    color: #EA4142;
}
.terms-con a{
    text-decoration: none;
    color: #154270;
    font-size: 14px;
    line-height: 16px;
}
.terms-con i{
    font-style: normal;
    margin: 0px 10px;
}
.copyright{
    padding-left: 20px;
}
footer .d-flex{
    align-items: center;
}
.copyright p{
    text-decoration: none;
    color: #154270;
    font-size: 14px;
    text-align: right;
    margin: 0px;
}
.seprator{
    margin: 30px 0px;
}
.arrow-down{
    display: block;
}
.banner-section.inner-page-banner h1{
    font-size: 60px;
    line-height: 70px;
}
.banner-section.inner-page-banner.about-page{
    background-image: url("../images/about-banner.jpg");
}
p{
    font-size: 20px;
    color: #616161;
    line-height: 32px;
    margin: 0px;
}
.outline{
    -webkit-text-stroke: 2px #154270; /* width and color */
    color: #f7f3eb;
}
.padding-top-zero{
    padding-top: 0px !important;
}
.padding-bottom-10{
    padding-bottom: 10px !important;
}
.padding-top-100{
    padding-top: 100px;
}
.banner-section.services-banner{
    background-image: url("../images/services-banner.jpg");
}
.service-filter-form{
    margin-bottom: 20px;
}
form label{
    font-size: 18px;
    color: #000000;
    font-family: "Laila", serif;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
}
.service-filter-field{
    margin-bottom: 30px;
}
.field-style{
    height: 60px;
    border: 1px solid #9E9E9E;
}
.form-select:focus {
    border-color: #9E9E9E;
    outline: 0;
    box-shadow: none;
}
.filter-form .btn.btn-style{
    height: 50px;
    width: 133px;
}
.filter-form .btn.btn-style{
    height: 50px;
    width: 133px;
    padding: 0px;
    margin-top: 15px;
}
.service-page-content .list-group{
    height: 1096px;
    overflow: auto;
    box-shadow: 0px 0px 10px 0px #dddddd;
}
.service-page-content .list-group .btn{
    background-color: #000000;
    line-height: 18px;
    font-size: 18px;
}
.service-page-content .list-group strong{
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.service-page-content .list-group .btn:hover{
    background-color: #EA4142;
}
.time-and-button small{
    color: #898989;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-right: 25px;
}
.filter-form{
    padding-right: 50px;
}
.banner-section.inner-page-banner.gallery-banner{
    background-image: url("../images/gallery-banner.jpg");
}
.gallery-page-content .lightbox{
    margin: 0px 0px 50px;
    display: block;
    text-align: center;
}
.banner-section.blogs-banner{
    background-image: url("../images/blog-banner.jpg");
}
.banner-section.blogs-banner h1{
    color: #000000;
}
.blog-thumbnail-img{
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 20px;
}
.blog-thumbnail-wrapper p{
    color: #E94241;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
}
.blog-thumbnail-wrapper h4{
    color: #154270;
    font-size: 26px;
    line-height: 34px;
    font-family: "Laila", serif;
    font-weight: 600;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
a.blog-thumbnail-wrapper{
    text-decoration: none;
    display: block;
}
.banner-section.contact-banner{
    background-image: url("../images/contact-banner.jpg");
}
textarea.form-control.field-style{
    height: 154px;
}
.contact-page-content .btn.btn-style{
    margin-top: 40px;
}
.contact-page-content h2{
    color: #000000;
    font-family: "Laila", serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}
.contact-us-text p{
    color: #000000;
    font-size: 20px;
}
.contact-row{
    margin-bottom: 40px;
}
.contact-row h6{
    color:#000000;
    font-family: "Laila", serif;
    font-size: 20px;
    font-weight: 700;
}
.contact-row a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
.iframe-wrapper{
    border-radius: 30px;
    overflow: hidden;
    margin-top: 70px;
}
.iframe-wrapper iframe{
    width: 100%;
    height: 710px;
}
@media only screen and (min-width: 1920px){

    .container-fluid{
        width: 1720px;  
    }
}
@media only screen and (max-width:1600px){

    .get-in-touch-btn{
        display: none;
    }
}
@media only screen and (max-width:1440px){

    header .phone-no{
        display: none;
    }
    .happy-clients-no h3{
        font-size: 50px;
    }
    .happy-clients-no{
        bottom: -10px;
        right: 0px;
        width: 215px;
    }
}
@media only screen and (max-width:1199px){

    .copyright {
        padding-left: 0px;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        padding: 5px 15px;
    }
    .navbar-brand{
        width: 260px;
    }
    .users-rating .users-rating-img{
        width: 140px;
    }
    .video-link-img{
        width: 140px;
    }
    .service-item-title h3{
        font-size: 22px;
    }
    .service-item-title{
        margin-top: -102px;
    }
    .white-footer .d-flex{
        flex-direction: column;
    }
    .copyright p{
        text-align: left;
    }
}
@media only screen and (max-width:1024px){

    .banner-section h1{
        font-size: 80px;
        line-height: 100px;
    }
    .banner-section.inner-page-banner h1{
        font-size: 50px;
        line-height: 60px;
    }
    .marquee-section h2{
        font-size: 80px;
        line-height: 80px;
    }
    .high-quality-content h2{
        font-size: 50px;
    }
    .section-title h3{
        font-size: 50px;
    }
    .subscribe-title h6{
        font-size: 38px;
        line-height: 48px;
    }
}
@media only screen and (max-width:991px){

    .iframe-wrapper iframe{
        height: 610px;
    }
    .filter-form{
        padding-right: 0px;
        margin-bottom: 60px;
    }
    .our-mission p br{
        display: none;
    }
    .banner-section h1{
        font-size: 70px;
        line-height: 90px;
    } 
    .banner-section{
        padding: 100px 0px;
    }  
    .users-rating{
        flex-direction: column;
        align-items: flex-start;
    } 
    .video-link.users-rating{
        flex-direction: column-reverse;
        align-items: end;
    }
    .video-link.users-rating p{
        margin-right: 0px;
        margin-top: 10px;
        text-align: right;
    }
    .users-rating .users-rating-img{
        margin-bottom: 10px;
    }
    .service-box{
        margin-bottom: 40px;
        height: auto;
    }
    .service-section-wrapper {
        padding: 100px 0px 60px;
    }
    .happy-clients-box{
        margin-bottom: 40px;
    }
    .we-love-text h3{
        font-size: 50px;
    }
    .marquee-section h2{
        font-size: 70px;
        line-height: 70px;
    }
    .dog-image{
        margin: 20px 0px;
    }
    .happy-with-us-section{
        padding: 80px 0px;
    }
    .meet-team-section .row{
        flex-direction: column;
    }
    .meet-team-section .col{
        margin-bottom: 40px;
    }
    .space-top-bottom-100{
        padding: 60px 0px;
    }
    .imgholder{
        margin-bottom: 30px;
    }
    .subscribe-title{
        margin-bottom: 40px;
    }
    .footer-blue-part ul{
        text-align: center;
    }
    .footer-blue-part .justify-content-end{
        justify-content: center !important;
    }
    .footer-left-side{
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }
    .footer-title{
        text-align: center;
    }
    .white-footer .d-flex{
        align-items: center;
    }
    .dog-image{
        text-align: center;
    }
    .section-title h3 {
        font-size: 45px;
    }
    .happy-with-us-section .section-title {
        margin-bottom: 60px;
    }
    header form.d-flex{
        display: none !important;
    }
    .high-quality-content h2 {
        font-size: 40px;
    }
    .subscribe-title h6 {
        font-size: 32px;
        line-height: 42px;
    }
    a.blog-thumbnail-wrapper{
        margin-bottom: 50px;
    }
}
@media only screen and (max-width:767px){

    .iframe-wrapper iframe{
        height: 510px;
    }
    .no-margin-mobile{
        margin: 0px !important;
    }
    .banner-section.inner-page-banner h1{
        font-size: 40px;
        line-height: 50px;
    }
    .spaceleft-right {
        padding: 0px 15px;
    }
    .video-link.users-rating p{
        text-align: center;
    }
    .navbar-toggler-icon i{
        display: inline-block;
        padding: 5px 0px;
        color: #ffffff;
    }
    .navbar-toggler{
        border: 1px solid #154270;
        background-color: #154270;;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar-expand-md .navbar-nav .nav-link:before{
        display: none;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 15px;
    }
    .banner-section {
        padding: 80px 0px;
    }
    .banner-section h1{
        font-size: 60px;
        line-height: 80px;
    }
    .banner-section h1 br{
        display: none;
    }
    .users-rating{
        align-items: center;
        margin-bottom: 30px;
    }
    .video-link.users-rating{
        align-items: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .banner-section-bottom{
        padding: 100px 0px 40px;
    }
    .high-quality-content{
        padding-left: 20px;
    }
    .high-quality-services .owl-nav {
        position: absolute;
        top: -110px;
        right: 30%;
    }
    .marquee-section h2 {
        font-size: 60px;
        line-height: 60px;
    }
    .service-section-wrapper{
        padding: 60px 0px 40px;
    }
    .we-love-text h3 {
        font-size: 40px;
    }
    .section-title h3 {
        font-size: 40px;
    }
    .imgholder{
        text-align: center;
    }
    .images-group-section.space-top-bottom-100{
        padding-top: 30px;
    }
    .footer-links{
        margin-bottom: 40px;
    }
    .we-love-text ul li{
        width: 100%;
    }
    .seprator {
        margin: 0px 0px 30px;
    }
    .copyright p {
        text-align: center;
    }
    .high-quality-services .owl-carousel{
        margin-left: 30px;
    }
    .service-item-title {
        margin-top: 20px;
        padding: 0px;
    }
    .service-item-title i{
        width: 30px;
    }
    .service-item-title h3 {
        font-size: 18px;
    }
    .high-quality-services .owl-nav{
        position: static;
        margin-top: 20px;
    }
    .high-quality-services{
        padding: 80px 0px 60px;
    }
    .feature-box {
        flex-direction: column;
        align-items: center;
    }
    .feature-box-text{
        text-align: center;
        margin-top: 20px;
    }
    .we-love-text {
        margin-left: 0px;
    }
    .our-reviews-section .owl-nav{
        position: static;
    }
    .spaceleft-right-30 {
        padding: 0px 15px;
    }
    .users-rating p{
        text-align: center;
    }
    .padding-top-100 {
        padding-top: 80px;
    }
    .service-page-content .list-group strong{
        font-size: 16px;
    }
    .time-and-button small{
        font-size: 14px;
    }
    .service-page-content .list-group .btn{
        line-height: 14px;
        font-size: 14px;
        padding: 13px 15px;
    }
    .time-and-button small{
        margin-right: 5px;
    }
    .time-and-button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .time-and-button small{
        margin-right: 0px;
        margin-bottom: 5px;
    }
}
@media only screen and (max-width:575px){

    .iframe-wrapper{
        margin-top: 20px;
    }
    .iframe-wrapper iframe{
        height: 310px;
    }
    .padding-top-100 {
        padding-top: 60px;
    }
    .happy-clients-no{
        bottom: 0px;
        right: 0px;
        width: 190px;
        height: 150px;
    }
    .navbar-brand {
        width: 150px;
    }
    .service-box-title h4{
        font-size: 23px;
    }
    .subscribe-title{
        flex-direction: column;
    }
    .newsletter-wrap{
        padding: 40px 20px;
    }
    .subscribe-title h6 {
        font-size: 30px;
        line-height: 38px;
        text-align: center;
        margin: 20px 0px 0px;
    }
    .subscribe-title i{
        margin-right: 0px;
    }
    .subscribe-form-style .btn{
        position: static;
    }
    .subscribe-form-style input{
        height: 60px;
    }
    .subscribe-form-style .btn{
        height: 60px;
        margin-top: 20px;
    }
    .subscribe-form-style{
        text-align: center;
    }
    .footer-blue-part ul li a{
        margin: 0px 6px;
    }
    .footer-blue-part ul li:before{
        right: -4px;
    }
    .footer-blue-part .justify-content-end{
        flex-direction: column;
    }
    .icon-link-group .phone-no {
        margin-left: 0px;
        margin-bottom: 15px;
    }
    .footer-menu{
        margin-bottom: 30px;
    }
    .phone-no.email-link{
        margin-bottom: 0px ;
    }
    .footer-left-side{
        flex-direction: column;
    }
    .footer-left-side{
        margin-bottom: 20px;
    }
    .footer-title{
        font-size: 26px;
        line-height: 36px;
    }
    .footer-links{
        text-align: center;
    }
    .high-quality-content h2 {
        font-size: 35px;
        margin-bottom: 40px;
    }
    .service-item-title i{
        display: none;
    }
    .section-title h3 {
        font-size: 35px;
    }
    .happy-with-us-section .section-title {
        margin-bottom: 40px;
    }
    .banner-section h1 {
        font-size: 35px;
        line-height: 48px;
    }
    .banner-section{
        padding: 40px 0px 30px;
    }
    .happy-clients-no h3{
        font-size: 50px;
    }
    .happy-clients-no h3 {
        font-size: 40px;
        line-height: 40px;
    }
    .happy-clients-no p{
        font-size: 18px;
    }
    .blog-thumbnail-wrapper h4{
        font-size: 22px;
    }
}
